<div class="hr-following px-4 sm:px-6 lg:px-8 xl:px-0">
    <div class="max-w-[1170px] mx-auto">
        <div class="w-full max-w-[560px] lg:max-w-[367px] mx-auto lg:mx-0 flex flex-col items-center lg:items-start text-center lg:text-left">
            <div class="flex items-center justify-center lg:justify-start gap-3 sm:gap-[34px] mb-4 sm:mb-6 lg:mb-[30px]">
                <p class="text-base sm:text-lg lg:text-[20px] lg:leading-[28px] font-semibold text-main">07</p>
                <img src="img/hr-line.png" alt="HR Line" class="w-auto h-auto block">
            </div>

            <h6 class="text-2xl sm:text-3xl md:text-4xl lg:text-[46px] lg:leading-[50px] font-bold mb-5 sm:mb-7 lg:mb-[40px] text-center lg:text-left">
                Что дальше?
            </h6>

            <p class="text-lg sm:text-xl md:text-2xl lg:text-[26px] lg:leading-[36px] font-semibold mb-3.5 sm:mb-4 lg:mb-[22px] text-center lg:text-left">
                Автоматизация создала основу для дальнейшего развития HR-процессов в Bitrix24
            </p>

            <p class="text-sm sm:text-base md:text-lg lg:text-[22px] lg:leading-[30px] text-main font-normal text-center lg:text-left">
                Следующий этап – развивать систему адаптации сотрудников, добавлять новые сценарии и чек-листы, а также
                использовать накопленные данные для анализа эффективности найма и внутренних HR-процессов.
            </p>
        </div>
    </div>
</div>