<div class="hr-hero mb-14 sm:mb-16 md:mb-24 lg:mb-[134px] px-4 sm:px-6 lg:px-8 xl:px-0">
    <div class="max-w-[887px] mx-auto text-white flex flex-col items-center">
        <img src="img/hero-logo.png" alt="Hero Logo" class="w-auto h-auto max-w-[180px] sm:max-w-[220px] md:max-w-none block mb-6 md:mb-[40px]">
        <h6 class="text-2xl sm:text-3xl md:text-4xl lg:text-[42px] lg:leading-[48px] font-bold text-center">
            Автоматизация HR-процессов Hoster.KZ: от найма до увольнения сотрудника в Bitrix24
        </h6>

        <img src="img/hr-line.png" alt="HR Line" class="w-auto h-auto my-5 md:my-[30px] block">

        <p class="text-sm sm:text-base md:text-lg lg:text-[22px] lg:leading-[28px] text-center max-w-[629px] text-white/90">
            В компании Hoster.KZ одновременно работают разные отделы, поэтому прием и увольнение сотрудников это цепочка
            задач для нескольких подразделений Hoster.KZ
        </p>
    </div>
</div>